html, body {
    background-color:ghostwhite;
    height:100%;
}

.screen {

}

$navcolor:#2196f3;
$msgbkgd:#e9e9e9;
$sentcolor:#999292;

.navbar {
    text-align: center;
    color: white !important;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    li:hover {
        background-color: white;
    }
    .glyphicon {
        font-size:30px;
        margin-left:20px;
        margin-right:20px;
    }
}

.navbar-nav {
    a {
        color: white !important;
    }

    li {
        a {
            color: white !important;
        }
    }

    li:hover {
        a {
            color: $navcolor !important;
        }
    }
}

.push {
    height:100px;
}



.authscreen {
    h1, h2 {
        text-align:center;
    }
}


.authlink {
    margin-top:30px;
    &:hover {
        background-color:lightskyblue;
        color:white;
        a {
            text-decoration:none;
            }
    }
}

.biglink:hover {
    text-decoration:none;
}

a {
    text-decoration:none;
}

fieldset {
    margin-left:20px;
    margin-right:20px;
}

.list-group {
    margin:0;
}

#groups {
    margin-left: 20px;

    #joincol {
        padding-right: 50px;

        #joinsearch {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
    }
}

.list-group {
    max-height:500px;
}

#convtitle {
    margin-left:10%;
}

#messagelist {
    width: 80%;
    margin-left: 10%;
    overflow:scroll;
    max-height:500px;
    background-color:$msgbkgd;

    .conversation {
        background-color: lightskyblue;
        color: black;
        border-radius: 3px;
        max-width: 70%;
        clear: both;
        display: block;
        margin:10px;
        float:left;
        p {
            margin-left: 10px;
            margin-right: 10px;
        }
        .sentby {
            color:$sentcolor;
        }
    }

    .mymsg {
        background-color: white;
        float: right;
        margin-bottom:13px;
    }
}

#msgsubmit {
    width:80%;
    margin-right: 10%;
    float:right;
    margin-top:20px;
    #msgbox {
        width:50%;
    }
}

#topbar {
    background-color: $navcolor;
    padding: 30px 20px 20px 20px;
    margin-top: -10px;
    border-radius: 3px;

    #title {
        color: white;
        text-decoration: none;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid white;
        border-radius: 4px;
    }

    h2 {
        display: inline;
    }

    h3 {
        float: right;
        display: inline;
    }
}

#room-controls {
    margin-left:50px !important;
    #roomname {
        text-align:center;
    }
    button {
        height:initial !important;
    }
}

#preview {
    button {
        width:inherit !important;
    }
}

.userlink {
    float:right;
    h4 {
        display:inline;
        margin-right:10px;
    }
}

#runaddbutton {
    margin-left:20px;
}

.group-button {
    margin-left:10px;
    height:40px;
    vertical-align:top;
}

.group-input {
    height:40px;
}

#mainpage {
    padding-top:20px;
    margin-left:20px;
    #welcome {
        margin-top:20px;
    }
    #welcome, #showyourruns {
        display:inline;
    }
    #showyourruns {
        float:right;
        margin-right:20px;
        margin-top:0;
    }
    #logoutbutton {
        margin-top:10px;
    }
    #instructions {
        .glyphicon {
            vertical-align:text-bottom;
            padding-left:10px;
        }
    }
}


#routes, #challenges {
    h3, form {
        margin-left:20px;
    }
    input {
        margin-left:20px;
        padding-left:10px;
        padding-right:10px;
    }
    form {
        div {
            label {
                width:inherit;
            }
        }
    }
}

#routes {
    form {
        display:table-caption;
    }
}

#siteinfo {
    display: inline;
    margin-left: 20px;
    color: white !important;
    font-size: 30px;

    span {
        display: inline;
    }

    #builtinfo {
        display: none;
        vertical-align: top;
        margin-left: 10px;
    }

    &:hover {
        #builtinfo, h4 {
            display: inline;
            color: white;
        }

        h4 {
            vertical-align: text-top;
        }

        #builtinfo {
            i {
                margin-left: 5px;
            }
        }
    }
}
